body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0px;
    padding:0px;
    font-size:14px;
    
}

header{
    display: flex;
    border-bottom: 1px solid gainsboro;

}

img{
    vertical-align: middle;
}



#google_logo img{
    width: 95px;
    margin-top: 25px;
    margin-left:20px;
}

.opac{
    opacity:60%;
}

#search{
    border:1px solid lightgray;
    width:650px;
    height: 40px;
    border-radius: 25px;
    margin-top:20px;
    margin-left: 30px;
    
}

#search:hover,
#search:focus-within{
    box-shadow: 3px 3px 8px lightgrey;
}

#search img{
    padding-left:15px;
    padding-right:5px;
}

#mic{
    border-left: 1px solid rgb(206, 195, 195);
    
}



#search_bar{
    border-width:0px;
    width:480px;
    margin-top: 10px;
    margin-left:20px;
}

#search_bar:focus-visible{
    
    outline: 0px;
}



#mid{
    display:flex;
    flex-direction: column;
}

#mic{
    height:20px;
}

#tabs{
    margin-top:20px;
    display:grid;
    grid-template-columns: repeat(6, 85px) 150px;
    justify-items: center;
    text-align: center;
    
    font-size: 14px;
   

}

#tabs a:hover,
#tabs a{
    text-decoration: none;
    color:black
    
}

#tabs img{
    width:20px;
    margin-right:7px;
}



#tools{
    justify-self: self-end;
}


#sign_in_area{
    position:absolute;
    right:2px;
    align-self: center;
    margin-right:30px;
}

@media (max-width:1000px){
    #sign_in_area{
    display:none;
    }
}

#sign_in_area a{
    display: inline-block;
    margin: 0px 8px;
    
}

#signin{
    background-color:#1a73e8;
    border: 0px solid #1a73e8;
    opacity: 100%;
    width:80px;
    height:35px;
    border-radius: 5px;
    color: white;
}

#signin:hover{
    box-shadow: 1px 1px 5px #1a73e8;

}

main{
   
    width: 700px;
    margin-left:150px;
     
}

#results{
    margin-top:25px;
}

#results a{
    text-decoration: none;
}

a h3:hover{
    text-decoration: underline;
}


.address{
    
    color:black;
    text-decoration: none;

    
}

.search_results{
    margin-bottom:50px;
    
    
    
}

#people_ask{
    margin-bottom:20px;
  
}

.website_head,
h3
{
    font-size:20px;
    font-weight: lighter;
    color:#1a0dab;
    
}

.describe,
.website_head,
.address{
    
    margin-bottom: -13px;

}

.describe{
    line-height: 1.58;
}

#people_ask p,
#related_searches p{
    font-size:16px;
}

.lower_border{
    display: flex;
    justify-content: space-between;
    padding-bottom: 9px;
    border-bottom: 1px solid rgb(218, 215, 215);
    margin-top: -2px;
    color:black;
}



#feedback{
    font-size: 12px !important;
    opacity: 70%;
    position:relative;
    left:650px;
    bottom:25px;
    background-color: white;
    padding-left:5px;
    
}

#related_images{
    display: grid;
    grid-template-columns:repeat(6,110px);
    grid-template-rows: 110px 25px;
    align-items: center;
    grid-column-gap: 10px;
    border-radius: 10px;
    
    
    
   
}

#related_images img{
    width:100%;
    border-radius: 10px;
   
}

#see_more{
    width: 350px;
    margin:auto;
    height:35px;
    
    background-image:url(images/arrow.png);
    background-repeat: no-repeat;
    background-position: 10px;
    background-color:white;
    border: 1px solid lightgrey;
    border-radius:15px;
    color:blue;


}

#more_button{
    margin-top:20px;
    padding-bottom:20px;
    text-align: center;
    border-bottom: 1px solid lightgrey;
}
#see_more:hover{
    background-color: rgb(248, 248, 248) ;
    border: 1.5px solid lightgrey;
}

#suggestions{
   width:fit-content;
   margin:auto;
   margin-top: 15px;
   display: grid;
   grid-template-columns: 350px 350px;
   grid-template-rows: repeat(3, 50px);
   text-align: center;
   grid-gap: 20px 10px;
   align-items: center;
   
   
   

   
}

.suggestion_name{

    background-image: url(images/outline_search_black_24dp.png);
    background-repeat: no-repeat;
    background-color:rgb(235, 241, 239);
    background-size: 20px;
    background-position: 20px 15px;
    height: 50px;
    width:350px;
    font-weight: bold;
    font-size:16px;
    display: table-cell;
    vertical-align: middle;
    border: 1px solid rgb(235, 241, 239);;
    border-radius:25px;
    text-align: left;
    padding-left:50px;
     
}

#suggestions a{
    text-decoration: none;
    color:black;
    justify-self: center;
    
    
}

#suggestions a:hover{
    text-decoration:underline;
}
}















